---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: rgb(255, 255, 255);
        background-color: #82c582;
        text-decoration: none;
    }
</style>